body {
  background-image: url(sky.jpg);
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.main {
  max-width: 800px;
  margin: 50px auto 0;
  background-color: rgba(0, 217, 255, 0.414);
  padding: 50px;
}
h1,
h2,
h3,
.temp-container,
p,
li {
  text-align: center;
}
h1,
h2 {
  margin-top: 30px;
}
h1,
h2,
h3,
.temp-container,
.conditions,
.windspeed,
.temperature-range {
  text-shadow: 5px 5px 5px rgb(213, 231, 248);
}
.discription {
  margin: 0 auto 30px;
  background: rgba(213, 231, 248, 0.485);
  max-width: 300px;
  border-radius: 10px 100px / 120px;
}
.conditions,
.windspeed,
.temperature-range {
  font-size: 18px;
  margin: 0;
}

h3 {
  font-size: 20px;
}
#icon,
.forecast-img {
  background: inherit;
}
.conditions:first-letter {
  text-transform: capitalize;
}
ul {
  list-style-type: none;
  margin-top: 40px;
}
p {
  font-size: 25px;
}
.temp-container {
  font-size: 45px;
}
.units {
  position: relative;
  top: -20px;
  font-size: 20px;
  font-weight: bolder;
}
.active {
  color: black;
  text-decoration: none;
  cursor: default;
}
img {
  background: rgba(240, 251, 250, 0.566);
  padding: 10px;
  border-radius: 25px;
}
#forecast {
  text-align: center;
}
.forecast-date,
.forecast-min {
  opacity: 0.7;
}
.link-github {
  font-size: 15px;
  text-align: center;
  background: rgba(240, 251, 250, 0.566);
  max-width: 800px;
  padding: 10px;
  margin: 0 auto 50px;
}